extends layout

block content
  h1= title
  form(method='POST' action='')
  //- div.form-group
  //-   label(for='id') Id:
  //-   input#id.form-control(type='text'  name='bookid' required='true' value=book._id)
  div.form-group
    label(for='title') Title:
    input#title.form-control(type='text'  name='title' required='true' value=book.title)
  div.form-group
    label(for='author') Author:
    input#author.form-control(type='text'  name='author' required='true' value=book.author.name) 
  div.form-group
    label(for='summary') Summary:
    input#summary.form-control(type='text'   name='summary' required='true' value=book.summary) 
  div.form-group
    label(for='isbn') ISBN:
    input#isbn.form-control(type='text'   name='isbn' required='true' value=book.isbn) 
  div.form-group
    label(for='genre') Genre:
    input#genre.form-control(type='text'   name='genre' required='true' value=book.genre[0]) 
  button.btn.btn-primary(type='submit') Update

 
  